$primari-color : #866750;
$white-color : #ffffff;
$dark-color : #333333;


$mb-m : 0 0 24px 0;

$default-size : 1400px;
$default-padding: 0 16px;
$default-section-padding: 100px 0;
$default-gap : 30px;


$resposive-tablet-size : 768px;
$resposive-mobile-size : 500px;